form input{
    width: 20rem;
    height: 3rem;
}

form [name="gender"]{
    width: 1rem;
    height: 1rem;
}

.flex{
    display: flex;
    justify-content: space-between;
}

[for="age"] input{
    width: 12rem;
}

.sliderValue{
    padding-right: 1rem !important;
    color: blue;
}