



<div *ngIf="this.regist==false" fxLayout="column center" fxLayoutAlign="center center" class="height">
    
    <h1 class="formHeadline">Login</h1> 

    <app-login-form></app-login-form>

    <a (click)='this.regist = true;'>Registrieren</a>
</div>





<div *ngIf="this.regist==true" fxLayout="column center" fxLayoutAlign="center center" class="height">

    <h1 class="formHeadline">Registrieren</h1>

    <app-register-form></app-register-form>

    <a (click)='this.regist = false;'>Login</a>
</div>